body {
    margin: 200px;
    border: 1px black solid;

}

header {
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-color: rgb(217, 244, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 35px;

}

header h2 {
    margin: 0px;
}

header h3 {
    color: rgb(92, 90, 90);
    margin: 0px;
}

.cabeçalho {
    margin-left: 10px;
}

img {
    width: 200px;
    height: 200px;
}